body, h1 { color:#FFF }
a { color: #AAF; }
body { background: #000 url('//www.capitalfactory.com/images/curtain_logoed.jpg') repeat-x; background-position: top center; }
#page, #content { background-color: transparent; }
#content { border: none; }
#page {
  width: 500px;
}

