body, h1 { color:#FFF }
a { color: #999CF9; }
body { background: #000 url('//www.capitalfactory.com/images/curtain_logoed.jpg') repeat-x; background-position: top center; }
#page, #content { background-color: transparent;  width: 550px;}
#content { border: none; }

