<h1>Register</h1>
<p>
All fields are required.
</p>
<hr/>
<% form_for @user, :url => account_path do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit "Register" %>
  <%= link_to "Cancel", "/" %>
<% end %>
