
<div id="header">
  <h1>Welcome to BuzzVoter!</h1>
  <h2>Poll the Twitter community, whenever, for free!</h2>
</div>

<div id="getting-started">
  <h1>Recent Polls</h1>

  <div class="table" id="recent_polls">      
    <% @recent_polls.each do |poll| %>    
      <div class="tr">
        <div class="td poll_name"><%= link_to poll.name, poll.fq_url %></div>
        <div class="td poll_owner">by @<%= poll.user.twitter_id %></div>
        <div class="td poll_status"><%= poll_status poll %></div>
      </div>
    </li>
    <% end -%>
  </div>
  <br/>
  <p>
    <%= link_to "Create Your Own Poll", url_for(:controller=>"polls", :action=>"new") %>
  </p>
</div>
