<h1>New poll</h1>
<hr/>
<% form_for(@poll) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => "form", :object => f %>

  <p>
    <%= f.submit 'Create' %>
    <%= link_to 'Cancel', "/" %>
  </p>
<% end %>

