<div>
<pre>
User : <%= @user %>
  
==============================

<%=h @message %>

==============================

<%=h @exception.inspect %>

==============================

<%=h @exception.backtrace.join("\n") %>
</pre>
</div>